<div class="tumblr">
	<div class="post-list">
	  <article ng-repeat="post in blog.posts">
	    <a ng-href="{{post.post_url}}" target="_blank">
	      <h4 class="post-title">{{post.title}}</h4>
	    </a>
	    <div class="post-meta">
	      <time class="post-date timeago" datetime="{{post.date}}" data-time="{DayOfMonthWithZero} {Month} {Year}">{{post.timestamp*1000 | date: 'd MMMM'}}</time>
	      <div class="tags" ng-if="posts.tag.length">
	        <a href="{TagURL}" class="tag" ng-repeat="tag in post.tags">
							#{{post.tag}}
						</a>
	      </div>
	    </div>
	    <div ng-switch="post.type">
		    <div class="post-body" ng-switch-when="text" ng-bind-html="post.body | trust"></div>
		    <div class="post-body" ng-switch-when="video" ng-bind-html="post.player[post.player.length-1].embed_code | trust"></div>
		  </div>
		    <p class="read_more_container">
		    	<a ng-href="{{post.post_url}}" class="read_more" target="_blank">
		    		Read More
		    	</a>
		    </p>
	  </article>
	  <div class="read-more">
		  <a ng-href="{{blog.blog.url}}" target="_blank" class="button alternate">
		  	More
		  </a>
	  </div>
	</div>
</div>