<div class="tumblr">
	<div class="post-list">
	  <article ng-repeat="post in blog.posts">
	  	<div class="post-title">
		    <h3>{{post.title}}</h3>
		    <time class="post-date timeago" datetime="{{post.date}}" data-time="{DayOfMonthWithZero} {Month} {Year}">{{post.timestamp*1000 | date: 'd MMMM'}}</time>
		  </div>
	    <div class="post-meta">
	      
	      <div class="tags" ng-if="posts.tag.length">
	        <span href="{TagURL}" class="tag" ng-repeat="tag in post.tags">
							#{{post.tag}}
						</span>
	      </div>
	    </div>
	    <div ng-switch="post.type">
		    <div class="post-body" ng-switch-when="text" ng-bind-html="post.body | trust"></div>
		    <div class="post-body" ng-switch-when="link" ng-bind-html="post.description | trust"></div>
		    <div class="post-body" ng-switch-when="video" ng-bind-html="post.player[post.player.length-1].embed_code | trust"></div>
		  </div>
	  </article>
	  
	</div>
</div>