body {
  background-image: url("stripes.png");
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Oswald; }

.marginwrapper.menu {
  margin-bottom: 15px; }

.menu1 {
  text-transform: uppercase; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

/* ------------ ARTISTS */
.artist-list .artist {
  width: 100%;
  height: 340px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  list-style: none;
  position: relative;
  padding: 10px;
  cursor: pointer; }

.artist h2 {
  padding-left: 10px;
  text-transform: uppercase; }

.artist h2, .artist h3 {
  position: relative; }

.artist-list .artist-name, .artist-list .artist-gig {
  float: left;
  color: white;
  font-family: Oswald;
  font-size: x-large; }

.artist-list .artist-gig {
  color: #b4b4b4; }

.artist-gig::before {
  content: "//";
  color: yellow;
  margin: 0 10px; }

.artist-list .description {
  position: absolute;
  cursor: auto;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding-top: 40px;
  opacity: 0;
  transition: all 0.5s ease-out; }

.artist.open .description {
  opacity: 1; }

.artist-list .description .video {
  float: left;
  margin-right: 10px; }

.artist-list .artist .close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer; }

.artist-list .artist .close:before,
.artist-list .artist .close:after {
  position: absolute;
  left: 0;
  width: 15px;
  height: 3px;
  background: white;
  content: ''; }

.artist-list .artist .close:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }

.artist-list .artist .close:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }

/* ------------- PROG */
p {
  font-family: Oswald; }

em {
  font-weight: bold; }

section {
  display: inline-block;
  width: 100%;
  margin-bottom: 25px; }

section:nth-child(2n) {
  text-align: right; }

section:nth-child(2n) .image, section:nth-child(2n) .artists, section:nth-child(2n) .description {
  float: right; }

.contents {
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: 100%;
  color: white;
  padding: 10px; }

.prog h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-family: Oswald;
  width: 100%;
  border-bottom: black solid 1px;
  margin-bottom: 15px; }

.artists, .image, .description {
  float: left; }

.artists {
  padding: 10px 30px;
  font-family: Oswald; }

.artist {
  margin-bottom: 5px; }

.name {
  font-size: large; }

.gig {
  font-size: normal; }
